body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (max-width: 2000px){
    body {
        font-size: 18px;
    }
}

@media (max-width: 700px){
    body {
        font-size: 16px;
    }
}


.grid {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header header navbar navbar"
    "canvas canvas canvas canvas"
    "bgCol col lineControls simbols";
    margin: 0 auto;
    width: 99%;
    max-width: 960px;
    text-align: center;
}

/*TITLE************************************************************************************/
.title {
    grid-area: header;
    align-self: end;
    color:#740D09;
    font-family: 'Amatic SC';
    font-size: 4em;
    font-weight: normal;
    justify-self: end;
    padding-right: 40px;
}

/*NAVIGATION BAR**************************************************************************/
.navBar {
    font-family: Chalkduster;
    grid-area: navbar;
    letter-spacing: 3px;
    align-self: end;
    padding-bottom: 15px;
    padding-left: 15px;
    justify-self: start;
}

.navBar__link {
    color: #740D09;
    margin: 5px;
    text-decoration: none;
}

/*CANVAS***********************************************************************************/
.canvas {
    grid-area: canvas;
}

/*CONTROLS*********************************************************************************/

.slider {
    color: #740D09;
    font-size: 0.8em;
    text-align: center;
}

.bgCol {
    grid-area: bgCol;
}
.col {
    grid-area: col;
}
.lineControls {
    grid-area: lineControls;
}

.simbols {
    grid-area: simbols;
}

/*GALLERY*********************************************************************************/
