.title {
    text-align: center;
}

/*these are the individual columns of the calendar */
/*head as wells as individual date columns made in javascript*/
.calendar__entry {
    border: 1px solid black;
    text-align: center;
}