 html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
}

canvas {
    border: 1px solid black;
    position:absolute;
    z-index: -1;
}

.grid {
    display: grid;
    text-align: center;
}

.projects {
    text-decoration: none;
    color: white;
}

.projects:hover{
    text-decoration: underline;
    color: #74ccf4;
}
