html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: #740D09; }

.grid {
  display: grid;
  margin: 20px auto;
  padding: 1px;
  max-width: 960px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header navbar navbar" "canvas canvas canvas canvas" "controls controls controls controls"; }

.header {
  grid-area: header;
  margin: 0 50px 10px 10px;
  justify-self: end; }

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-areas: "home gallery contacts about";
  grid-gap: 15px;
  justify-self: start;
  align-self: end;
  margin-bottom: 20px; }
  .navbar--home {
    grid-area: home; }
  .navbar--gallery {
    grid-area: gallery; }
  .navbar--contacts {
    grid-area: contacts; }
  .navbar--about {
    grid-area: about; }

.canvas {
  grid-area: canvas;
  justify-self: center;
  width: 100%; }

.controls {
  grid-area: controls;
  display: grid;
  grid-template-areas: "simbols simbols simbols" "bgColors colors settings"; }
  .controls--sliders {
    width: 80%; }
  .controls--bgColors {
    grid-area: bgColors; }
  .controls--colors {
    grid-area: colors; }
  .controls--settings {
    grid-area: settings; }
  .controls--simbols {
    grid-area: simbols; }

@media (max-width: 610px) {
  .grid {
    display: grid;
    margin: 0 auto;
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "navbar navbar" "canvas canvas" "controls controls"; }

  .header {
    grid-area: header;
    justify-self: center;
    margin: 0 10px 10px 10px; }

  .navbar {
    grid-area: navbar;
    display: grid;
    grid-template-areas: "home gallery contacts about";
    justify-self: center; }
    .navbar--home {
      grid-area: home; }
    .navbar--gallery {
      grid-area: gallery; }
    .navbar--contacts {
      grid-area: contacts; }
    .navbar--about {
      grid-area: about; }

  .canvas {
    grid-area: canvas;
    justify-self: center;
    width: 100%; }

  .controls {
    grid-area: controls;
    display: grid;
    grid-template-areas: "simbols"  "colors"  "bgColors" "settings"; }
    .controls--bgColors {
      gird-area: bgColors; }
    .controls--colors {
      gird-area: colors; }
    .controls--settings {
      gird-area: settings; }
    .controls--simbols {
      gird-area: simbols; } }
.navbar--links {
  transform: translate3d(0px, 0px, 0px);
  transition: transform .2s ease-in-out; }

.navbar--links:hover {
  transform: translate3d(0px, 2px, 0px); }

.header--text {
  font-weight: normal;
  font-size: 65px;
  margin: auto; }

.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 2px; }
  .navbar--links {
    text-decoration: none;
    color: #740D09; }

.canvas {
  border: 1px solid #740D09;
  border-radius: 5px; }

.controls {
  font-size: 25px; }
  .controls--sliders {
    -webkit-appearance: none;
    height: 3px;
    background-color: #740D09;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; }
  .controls--sliders:hover {
    opacity: 1.0; }
  .controls--sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*appearance: none;*/
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #740D09;
    background: white;
    cursor: pointer; }
  .controls--sliders::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #740D09;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */